<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite for running tests" parallel="tests">	
    <test name="Android YouTube Tests">
      <!--   <parameter name="platform" value="AndroidmobileDevice"/>  -->
        <classes>
            <class name="com.google.youtube.runner.YouTubeRunner"/>
        </classes>
    </test>
</suite>